.about {
  overflow-x: hidden;
  display: grid;
  place-items: center;
  background-color: var(--color-background);

  position: relative;

  .banner {
    position: fixed;

    &.bannerBottom {
      h1 {
        color: var(--color-text);
      }
    }

    &.bannerTop {
      h1 {
        color: transparent;
        -webkit-text-stroke: 0.2rem var(--color-text);
      }
    }
  }

  .content {
    padding: 35% 10% 0% 10%;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
  }
}

.card {
  img {
    width: 100%;
    height: auto;
  }
}

.first {
  grid-column: 1/3;
  grid-row: 1/4;
}

.first-text {
  font-family: var(--font-family-noto-mono-Reg);
  grid-column: 3/8;
  display: flex;
  grid-row: 2;
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 2.5rem;
  & > * {
    flex: 1;
    padding-left: 50px;
    padding-right: 20px;

    &:first-child {
      position: relative;
      &::before {
        content: "Hi there!";
        position: absolute;
        top: -25%;
        font-size: 2.5rem;
        font-family: var(--font-family-noto-mono-bold);
      }
    }

    &:last-child {
      padding: 0;
      padding-left: 20px;
    }
  }
}

.second {
  grid-column: 5/7;
  grid-row: 5/7;
}

.second-text {
  font-family: var(--font-family-noto-mono-Reg);
  grid-column: 2/4;
  display: flex;
  grid-row: 6;
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.layer-parent {
  grid-column: 1 / -1;
  grid-row: 8;
  position: relative;
  height: 100vh;
  z-index: 8;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;

  & > p {
    padding: 5% 10% 0% 10%;
    font-family: var(--font-family-noto-mono-Reg);
    color: var(--color-text);
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
.layer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10% 10% 0% 10%;

  color: var(--color-text);

  h2 {
    font-family: var(--font-family-noto-mono-bold);
    letter-spacing: 2px;
    font-size: 4rem;
    text-transform: capitalize;
  }

  p {
    margin-top: 10%;
    font-family: var(--font-family-noto-mono-Reg);
    font-size: 1.3rem;
    color: #5d5d5d;

    a {
      color: var(--color-text);
      padding-bottom: 10px;
      font-family: var(--font-family-noto-mono-bold);
      border-bottom: 1px solid transparent;
      cursor: pointer;
      transition: color 0.3s, border 0.3s;

      &:active,
      &:hover {
        color: #5d5d5d;
        border-bottom-color: #5d5d5d;
      }
    }
  }

  div {
    margin-top: 10%;
  }
}

.link {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 18px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &.twitter:hover,
  &.twitter:active {
    fill: #00acee;
    stroke: #00acee;
  }

  &.medium:hover,
  &.medium:active {
    fill: #ccc;
    stroke: #ccc;
  }

  &.linkedin:hover,
  &.linkedin:active {
    fill: #0077b5;
    stroke: #0077b5;
  }
}
