@import "../../styles/mixins/breakpoints";

@mixin bgGradient($addn: none) {
  background: linear-gradient(
      0deg,
      var(--color-background) 0%,
      var(--color-background) 35%,
      rgba(255, 255, 255, 0.02404289352459732) 85%
    ),
    $addn;
}

.about {
  position: relative;

  & .cover {
    width: 100%;
    height: 100%;
    padding: 8vmax 7vmin;
    padding-bottom: 0;

    @include media-breakpoint-down(md) {
      padding: 7vmin;
      padding-bottom: 0;
    }

    position: fixed;
    @include bgGradient(
      center / cover no-repeat
        url("https://media.giphy.com/media/T5tnw3xsSagXhUrSKD/giphy.gif")
    );
    background-origin: content-box;

    // &.bgDark {
    //   filter: invert(1);
    // }

    display: grid;
    place-items: center start;
  }

  .banner {
    position: fixed;
    h1 {
      color: transparent;
      -webkit-text-stroke: 0.1rem var(--color-text);
    }

    @include media-breakpoint-down(md) {
      h1 {
        -webkit-text-stroke: 0.2rem var(--color-text);
      }
    }
  }

  .content {
    background-color: var(--color-background);
    background-clip: content-box;
    padding-top: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .child {
      margin-top: 8%;
      padding: 5% 5% 0 5%;
      @include media-breakpoint-down(md) {
        padding: 1.5% 15% 0 15%;
      }

      display: flex;
      justify-content: center;
      gap: 15%;

      .tag {
        display: none;
        font-size: 1.4rem;
        font-family: var(--font-family-noto-mono-bold);

        @include media-breakpoint-down(md) {
          display: block;
        }
      }

      .textContainer {
        flex: 1;

        display: flex;
        flex-direction: column;

        @include media-breakpoint-down(md) {
          max-width: 350px;
        }

        & p {
          position: relative;
          margin-bottom: 40px;
        }
      }

      &:first-of-type {
        margin-top: 0;
      }
    }

    & .text {
      font-family: var(--font-family-noto-mono-Reg);
      color: var(--color-text);
      font-size: 1.2rem;
      line-height: 1.7rem;

      @include media-breakpoint-down(md) {
        font-family: var(--font-family-noto-mono-light);
        font-size: 1.2rem;
        line-height: 1.7rem;
      }
    }
  }
}

.greet {
  &::before {
    top: -75px;
    position: absolute;
    content: "Hello there,";
    font-family: var(--font-family-noto-mono-bold);
    font-size: 1.5rem;
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: var(--color-text);
    color: var(--color-background);
  }
}

.layer {
  flex: 1;
  height: 100vh;
  padding-top: 15vh;

  display: flex;
  flex-direction: column;

  color: var(--color-text);

  & > * {
    margin-top: 10vh;
  }

  h2 {
    margin-top: 0;
    font-family: var(--font-family-noto-mono-bold);
    // font-weight: 700;
    letter-spacing: 2px;
    font-size: 4rem;
    text-transform: capitalize;
  }

  p {
    font-family: var(--font-family-noto-mono-Reg);
    font-size: 1.3rem;
    color: #5d5d5d;

    span {
      display: inline-block;
      margin-bottom: 7px;
    }

    a {
      color: var(--color-text);
      padding-bottom: 10px;
      font-family: var(--font-family-noto-mono-bold);
      border-bottom: 1px solid transparent;
      cursor: pointer;
      transition: color 0.3s, border 0.3s;

      &:active,
      &:hover {
        color: #5d5d5d;
        border-bottom-color: #5d5d5d;
      }
    }
  }
}

.link {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 18px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &.twitter:hover,
  &.twitter:active {
    fill: #00acee;
    stroke: #00acee;
  }

  &.medium:hover,
  &.medium:active {
    fill: #ccc;
    stroke: #ccc;
  }

  &.linkedin:hover,
  &.linkedin:active {
    fill: #0077b5;
    stroke: #0077b5;
  }
}
