.banner {
  font-family: var(--font-family-poppins-bold);
  color: var(--color-text);
  h1 {
    text-align: center;
    font-size: 12vw;
    letter-spacing: 1.75rem;
    text-transform: uppercase;

    span {
      letter-spacing: 0;
    }
  }

  h2 {
    margin-top: 40px;
    font-size: 1.025vw;
    text-align: center;
    letter-spacing: 0.2rem;
  }
}
