@import "../../styles/mixins/breakpoints";

.cont {
  position: relative;
  overflow-y: hidden;
}

.track {
  position: absolute;
  left: 50%;
  display: flex;
  gap: 4vmin;
  user-select: none;

  & > img {
    width: 56vmin;
    height: 78vmin;
    object-fit: cover;
    object-position: 100% center;
    cursor: pointer;

    @include media-breakpoint-down("md") {
      width: 40vmin;
      height: 56vmin;
    }
  }
}
