:root {
  // --color-primary-light: #f5f9e9;
  // --color-primary-light: #ebebe9;
  --color-primary-light: #e8e8e8;
  // --color-primary-dark: #202c39;
  // --color-primary-dark: #1b1b1b;
  // --color-primary-dark: #15100d;
  --color-primary-dark: #000000;
  --color-secondary: #62929e;
  --color-primary-dark-muted: #1f1e23;
  --color-primary-light-muted: #e0e1dc;
}
