* {
  box-sizing: border-box;
}

html {
  // @media screen and (max-width: 1024px) {
  //   font-size: 10px;
  // }
  font-size: 12px;
  scroll-snap-type: y mandatory;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  --color-background: var(--color-primary-light);
  --color-text: var(--color-primary-dark);

  &.dark {
    --color-background: var(--color-primary-dark);
    --color-text: var(--color-primary-light);
  }

  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-inline-start: 32px;
}

// /* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}
