.wrapper {
  overflow-y: scroll;
}

.home {
  // scroll-snap-align: center; //TODO: snap settings
  // scroll-snap-stop: always;
  overflow-x: hidden;
  display: grid;
  place-items: center;
  background-color: var(--color-background);

  h1 {
    color: transparent;
    -webkit-text-stroke: 0.2rem var(--color-text);
  }
}
