.wrapper {
  .socialMenu {
    position: fixed;
    top: calc(90vh + 40px);
    left: 50px;
    transform: rotate(-90deg) translateX(0);
    transform-origin: 0;
  }
}

.home {
  display: grid;
  place-items: center;
  > .banner {
    font-family: var(--font-family-poppins-bold);
    color: var(--color-primary-dark);
    h1 {
      font-size: 16vw;
      letter-spacing: 2.5rem;
      text-transform: uppercase;

      span {
        letter-spacing: 0;
      }
    }

    h2 {
      margin-top: 40px;
      font-size: 1.2vw;
      text-align: center;
      letter-spacing: 0.2rem;
    }
  }
}
