.wrapper {
  overflow-y: scroll;

  .socialMenu {
    position: fixed;
    top: calc(90vh + 40px);
    left: 50px;
    transform: rotate(-90deg) translateX(0);
    transform-origin: 0;
  }

  .nav {
    position: fixed;
    right: 50px;
    top: 20px;
  }
}

.home {
  // scroll-snap-align: center; //TODO: snap settings
  // scroll-snap-stop: always;
  overflow-x: hidden;
  display: grid;
  place-items: center;
  background-color: var(--color-background);
}
