.main {
  height: 100%;
  width: 100%;
  position: relative;

  > section {
    width: inherit;
    height: inherit;

    display: grid;
    place-items: center;
  }

  > section:first-of-type[data-isOpen="true"] {
    width: 50% !important;
  }

  > section:nth-of-type(2) {
    width: 50%;
    background-color: pink;
    position: absolute;
    top: 0;
  }
}
