.cont {
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;

  input[type="checkbox"] {
    height: 0;
    width: 0;
    display: none;
  }

  overflow: hidden;

  .cloud {
    position: absolute;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    font-size: 16px;
    bottom: -3px;
  }

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
