.cont {
  display: grid;
  place-items: center;
  cursor: pointer;

  input[type="checkbox"] {
    height: 0;
    width: 0;
    display: none;
  }

  overflow: hidden;

  span {
    transition: transform 0.4s ease-in;
  }

  span.__active {
    transform: translateY(10px) rotate(90deg);
  }
}
