@import "../../styles/mixins/breakpoints";

.cont {
  position: fixed;

  font-family: var(--font-family-noto-mono-bold);
  font-size: 1.125rem;

  display: inline-block;

  z-index: var(--zindex-common);

  top: 10px;
  right: 10px;

  @include media-breakpoint-down(md) {
    right: 50px;
    top: 10px;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 6px 5px;
      letter-spacing: 0.5px;
      cursor: pointer;
      color: var(--color-text);
      transition: opacity 0.3s ease-in-out;

      > * {
        color: inherit;
      }

      &:hover {
        opacity: var(--opacity-common);
      }

      & > *.active {
        padding-bottom: 5px;
        border-bottom: 2px solid var(--color-text);
      }
    }
  }
}
