.cont {
  font-family: var(--font-family-noto-mono-bold);
  font-size: 1.125rem;

  display: inline-block;

  z-index: var(--zindex-common);

  ul {
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 6px 5px;
      letter-spacing: 0.5px;
      cursor: pointer;

      > * {
        color: var(--color-text);

        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: var(--opacity-common);
        }
      }
    }
  }
}
